<h1>Listing questions<%=h " for #{@quiz}" if @quiz %></h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Global</th>
  </tr>
  </thead>

  <tbody>
  <%= render :partial => 'question', :collection => @questions %>
  </tbody>

</table>

<br />

<p>
<%= link_to 'New question', new_question_path %>
</p>

