<h2>Listing questions<%=h " for #{@quiz}" if @quiz %></h2>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Global</th>
  </tr>
  </thead>

  <tbody>
  <%= render :partial => 'question', :collection => @questions %>
  </tbody>

</table>

<hr />

<p>
<% if permitted_to? :create, :questions %>
<%= link_to 'New question', new_question_path %>
<% end %>
</p>

