<h2>Listing questions<%=h " for #{@quiz}" if @quiz %></h2>

<%= render partial: "questions/questions", object: @questions %>
<hr />

<p>
<% if permitted_to? :create, :questions %>
<%= link_to 'New question', new_question_path %>
<% end %>
</p>

