<% user ||= false %>
<% committee ||= false %>
<% position ||= false %>
<table>
  <thead>
  <tr>
    <% unless user %>
    <th>User</th>
    <% end %>
    <% unless position %>
    <th>Position</th>
    <% end %>
    <% if committee %>
    <% if committee.class == Committee %>
    <th>Title</th>
    <th>Votes</th>
    <% end %>
    <% else %>
    <th>Committees</th>
    <% end %>
    <th>Period</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Renew Until</th>
    <th>Confirmed?</th>
  </tr>
  </thead>
  <tbody>
<%= render :partial => "memberships/membership", :collection => memberships,
  :locals => { :user => user, :committee => committee, :position => position } %>
  </tbody>
</table>

