<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Period</th>
    <th>Starts at</th>
    <th>Ends at</th>
  </tr>
  </thead>
  <tbody>
<%= render :partial => "membership", :collection => memberships %>
  </tbody>
</table>

