<h1>Listing memberships</h1>

<%= render :partial => "memberships", :object => @memberships %>

<br />

<p>
<% if @position %>
<%= link_to 'New membership', new_position_membership_path(@position) %>
<% end %>
</p>

