<h2>New membership for <%=h @membership.position %></h2>

<%= semantic_form_for(:membership, @membership, :url => polymorphic_path( [ @membership.context, :memberships ] ) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', position_memberships_path(@membership.position) %>
</p>

