<h1>New membership</h1>

<% semantic_form_for(:membership, @membership, :url => position_memberships_url(@membership.position) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', position_memberships_path(@membership.position) %>
</p>

