<h1>Editing meeting of <%=h meeting.committee %></h1>

<%= simple_form_for( meeting, wrapper: :horizontal_form, html: { multipart: true } ) do |f| %>
  <%= render partial: 'form', object: f %>
<% end %>

