<h2>New meeting for <%=h @meeting.committee %></h2>

<%= simple_form_for( @meeting, :url => committee_meetings_path(@meeting.committee),
  :html => { :multipart => true } ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', committee_meetings_path(@meeting.committee) %>
</p>

