<h1>New meeting for <%=h meeting.committee %></h1>

<%= simple_form_for( meeting, wrapper: :horizontal_form,
  url: committee_meetings_path(meeting.committee),
  html: { multipart: true } ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', committee_meetings_path(meeting.committee) %>
</p>

