<% if positions.any? %>
<table id="positions">
  <thead>
  <tr>
    <th>Name</th>
    <th>Authority</th>
    <th>Quiz</th>
    <th>Schedule</th>
    <th>Renewable?</th>
    <th>Slots</th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'positions/position', collection: positions %>
  </tbody>

</table>
<% else %>
<p>No positions.</p>
<% end %>

