<td><% if motion.status_events.include?(event) && permitted_to?( event, motion )
  %><%=link_to event.to_s.titleize, polymorphic_path( [ event, motion ] ),
 ( Motion::EVENTS_PUTONLY.include?(event) ? { method: :put } : {} ) %><% else %><% end %></td>

