<% committee ||= false %>
<% period  ||= false %>
<table>
  <thead>
  <tr>
  <% unless committee %>
    <th>Committee</th>
  <% end %>
  <% unless period %>
    <th>Period</th>
  <% end %>
    <th>Position</th>
    <th>Name</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
<%= render :partial => "motions/motion", :collection => motions,
  :locals => { :committee => committee, :period => period } %>
  </tbody>
</table>

