<% committee ||= false %>
<% period  ||= false %>
<table id="motions">
  <thead>
  <tr>
    <%=content_tag( :th, "Committee" ) unless committee %>
    <%=content_tag(:th, "Period" ) unless period %>
    <th>Position</th>
    <th>Name</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
<%= render partial: "motions/motion", collection: motions,
  locals: { committee: committee, period: period } %>
  </tbody>
</table>

