<h2>New motion for <%=h @motion.committee %></h2>

<% semantic_form_for(:motion, @motion, :url => committee_motions_path(@motion.committee) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', committee_motions_path(@motion.committee) %>
</p>

