<h2>Editing qualification</h2>

<% semantic_form_for(@qualification) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @qualification %> |
<%= link_to 'Back', qualifications_path %>
</p>

