<h2>Listing qualifications</h2>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  </thead>

  <tbody>
  <%= render :partial => 'qualification', :collection => @qualifications %>
  </tbody>

</table>

<hr />

<p>
<%= link_to 'New qualification', new_qualification_path %>
</p>

