<p>
  <b>Name:</b>
  <%=h @qualification.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @qualification.description %>
</p>


<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>