<p>
  <b>Name:</b> <%=h @qualification.name %>
</p>

<p>
  <b>Description:</b>
  <%=markdown @qualification.description %>
</p>

<p>
<% if permitted_to? :edit, @qualification %>
<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<% end %>
<%= link_to 'Back', qualifications_path %>
</p>

