<% schedule = false unless defined? schedule %>
<% if periods.any? %>
<table id="periods">
  <thead>
  <tr>
    <%=content_tag( :td, "Schedule") unless schedule %>
    <th>Starts at</th>
    <th>Ends at</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'periods/period', collection: periods, locals: {
    schedule: schedule } %>
  </tbody>
</table>
<% else %>
<p>No periods.</p>
<% end %>

