  <%= table_row_tag true, false, { id: "period-#{period.id}" } do %>
    <% unless schedule %>
    <td><%= period.schedule %></td>
    <% end %>
    <td><%=h period.starts_at.to_s :rfc822 %></td>
    <td><%=h period.ends_at.to_s :rfc822 %></td>
  <% end %>

