<h1>Listing periods</h1>

<table>
  <thead>
  <tr>
    <th>Schedule</th>
    <th>Starts at</th>
    <th>Ends at</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'period', :collection => @periods %>
  </tbody>
</table>

<br />

<p>
<%= link_to 'New period', new_schedule_period_path(@schedule) %>
</p>

