<h1>New period for <%=h @schedule %></h1>

<% semantic_form_for( :period, @period, :url => schedule_periods_path(@period.schedule) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', schedule_periods_path(@period.schedule) %>
</p>

