<p class="name front"><%= tent.name %></p>
<%= image_tag 'http://localhost:3000/images/layout/tent/logo.svg', :class => 'logo front'%>
<%= image_tag 'http://localhost:3000/images/layout/tent/logo.svg', :class => 'logo back'%>
<p class="name back"><%= tent.name %></p>

