<table id="users">
  <thead>
  <tr>
    <th>Name</th>
    <th>Net id</th>
    <th>Email</th>
    <th>Mobile phone</th>
    <th>Work phone</th>
    <th>Home phone</th>
    <th>Work address</th>
    <th>Date of birth</th>
    <th>Statuses</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'users/user', collection: users %>
  </tbody>
</table>

