<h2>Editing user</h2>

<% semantic_form_for(@user, :multipart => true) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</p>

