<h1>Listing users</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Net id</th>
    <th>Email</th>
    <th>Mobile phone</th>
    <th>Work phone</th>
    <th>Home phone</th>
    <th>Work address</th>
    <th>Date of birth</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'user', :collection => @users %>
  </tbody>
</table>

<br />

<p>
<%= link_to 'New user', new_user_path %>
</p>

