<h1>User profile for <%= current_user.name %></h1>

<% if current_user.memberships.current.length > 0 %>
<h3>Current Memberships</h3>
<% render :partial => 'memberships/memberships', :object => current_user.memberships.current %>
<% end %>

