<table>
<thead>
  <tr>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Deadline</th>
    <th>Authority</th>
  </tr>
</thead>
<tbody>
<%= render :partial => "notice", :collection => notices %>
</tbody>
</table>

