<h2>Listing user renewal notices</h2>

<%= render :partial => "notices", :object => @user_renewal_notices %>

<br />

<p>
<% if permitted_to? :create, :user_renewal_notices -%>
<%= link_to 'New user renewal notice', new_user_renewal_notice_path %>
<% end -%>
</p>

