<h2>New user renewal notice</h2>

<%= semantic_form_for(@user_renewal_notice) do |f| %>
<%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', user_renewal_notices_path %>
</p>

