<h1>Listing schedules</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'schedule', :collection => @schedules %>
  </tbody>
</table>

<br />

<p>
<%= link_to 'New schedule', new_schedule_path %>
</p>

