<div id="schedule-<%= schedule.id %>">
<p>
  <b>Name:</b> <%=h schedule.name %>
</p>

<h3>Periods</h3>

<%= render partial: 'periods/periods', object: schedule.periods,
  locals: { schedule: schedule } %>

</div> <!-- #schedule-<%= schedule.id %> -->

