<p>
  <b>Name:</b> <%=h @schedule.name %>
</p>

<p>
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'List Periods', schedule_periods_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
</p>

