<p>
  <b>Name:</b> <%=h @schedule.name %>
</p>

<p>
<% if permitted_to? :edit, @schedule -%>
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<% end %>
<%= link_to 'List Periods', schedule_periods_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
</p>

