<div class="nested-fields">
  <%= f.input :document, as: :file, label: 'Attachment document',
    hint: 'Specify the file you wish to attach.' %>
  <%= f.input :document_cache, as: :hidden %>
  <%= f.input :description, label: 'Attachment description',
    hint: 'Briefly and uniquely describe the contents of the attachment.' %>

  <p>
  <%= link_to_remove_association 'remove attachment', f %>
  </p>
</div>

