<% user ||= false; committee ||= false %>
<table id="requests">
  <thead>
  <tr>
    <% unless user %>
    <th>User</th>
    <% end %>
    <% unless committee %>
    <th>Committee</th>
    <% end %>
    <th>Position</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'requests/request', collection: requests,
    locals: { user: user, committee: committee } %>
  </tbody>
</table>

