<h2>Editing request</h2>

<% semantic_form_for(@request) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @request %> |
<%= link_to 'Back', polymorphic_path( [@request.requestable, :requests] ) %>
</p>

