<h1>Listing requests <%= @title %></h1>

<%= render :partial => "requests", :object => @requests,
  :locals => { :requestable => @requestable, :user => @user } %>

<br />

<% if @requestable %>
<p>
<%= link_to 'New request', new_polymorphic_path( [@requestable, :request] ) %>
</p>
<% end %>

