<h2>Listing requests <%= @title %></h2>

<%= render :partial => "requests", :object => @requests,
  :locals => { :requestable => @requestable, :user => @user } %>

<hr />

<% if @requestable %>
<p>
<%= link_to 'New request', new_polymorphic_path( [@requestable, :request] ) %>
</p>
<% end %>

