<h1>Listing requests</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>State</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'request', :collection => @requests %>
  </tbody>
</table>

<br />

<p>
<%= link_to 'New request', new_position_request_path( @position ) %>
</p>

