<h1>Listing requests for <%= @requestable %></h1>

<%= render :partial => "requests", :object => @requests, :locals => { :requestable => @requestable } %>

<br />

<p>
<%= link_to 'New request', new_polymorphic_path( [@requestable, :request] ) %>
</p>

