<h2>New request for <%=h @request.requestable %></h2>

<% semantic_form_for(:request, @request, :url => polymorphic_path([@request.requestable, :requests]),
  :multipart => true ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', polymorphic_path( [@request.requestable, :requests] ) %>
</p>

