<h1>Review <%=h params[:action] %> memberships</h1>

<p>
<%= paginate memberships %>
</p>

<%= render partial: 'memberships/memberships', object: memberships %>

<p>
<%= paginate memberships %>
</p>

