<% user ||= false; committee ||= false %>
<table id="membership_requests">
  <thead>
  <tr>
    <% unless user %>
    <th>User</th>
    <% end %>
    <% unless committee %>
    <th>Committee</th>
    <% end %>
    <th>Position</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'membership_requests/membership_request', collection: membership_requests,
    locals: { user: user, committee: committee } %>
  </tbody>
</table>

