<table>
  <thead>
  <tr>
    <th>Position</th>
    <th>Title</th>
    <th>Votes</th>
  </tr>
  </thead>
  <tbody>
<%= render :partial => "enrollment", :collection => enrollments %>
  </tbody>
</table>

