<% committee = false unless defined? committee %>
<% position = false unless defined? position %>
<% if enrollments.any? %>
<table id="enrollments">
  <thead>
  <tr>
  <% unless committee %>
    <th>Committee</th>
  <% end %>
  <% unless position %>
    <th>Position</th>
  <% end %>
    <th>Title</th>
    <th>Votes</th>
    <th>Requestable?</th>
    <th>Roles</th>
  </tr>
  </thead>
  <tbody>
<%= render partial: "enrollments/enrollment", collection: enrollments,
  locals: { committee: committee, position: position } %>
  </tbody>
</table>
<% else %>
<p>
No enrollments.
</p>
<% end %>

