<h2>Editing enrollment for <%=h @enrollment.committee %></h2>

<% semantic_form_for(@enrollment) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @enrollment %> |
<%= link_to 'Back', committee_enrollments_path( @enrollment.committee ) %>
</p>

