<h2>Listing enrollments for <%=h @committee %></h2>

<%= render :partial => "enrollments", :object => @enrollments %>

<hr />

<p>
<%= link_to 'New enrollment', new_committee_enrollment_path( @committee ) %>
</p>

