<h2>New enrollment for <%=h @enrollment.committee %></h2>

<%= semantic_form_for(:enrollment, @enrollment, :url => committee_enrollments_path(@enrollment.committee) ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', committee_enrollments_path(@enrollment.committee) %>
</p>

