<% motion ||= false %>
<tr>
  <% unless motion %>
  <td><%= motion_event.motion %></td>
  <% end %>
  <td><%= motion_event.occurrence %></td>
  <td><%= motion_event.event %></td>
  <td><%= motion_event.description %></td>
</tr>

