<%=content_tag :h1, "Authorities" %>

<%= render partial: "authorities/authorities", object: authorities %>
<hr />

<p>
<% if permitted_to? :create, :authorities -%>
<%= link_to 'New authority', new_authority_path %>
<% end -%>
</p>

