<% user ||= false %>
<table>
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'committee', :collection => committees,
    :locals => { :user => user } %>
  </tbody>
</table>

