<h1>Listing committees</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'committee', :collection => @committees %>
  </tbody>
</table>

<br />

<p>
<%= link_to 'New committee', new_committee_path %>
</p>

