<ul>
<% @committees.each do |committee| %>
<li><%= (params[:search] && params[:search][:name_like]) ? highlight(committee.name_with_net_id, params[:search][:name_like]) : h(committee.name_with_net_id) %></li>
<% end %>
</ul>

