<h2>Editing meeting template</h2>

<%= semantic_form_for(@meeting_template) do |f| %>
  <%= render partial: 'form', object: f %>
<% end %>

<p>
<%= link_to 'Show', @meeting_template %> |
<%= link_to 'Back', meeting_templates_path %>
</p>

