  <% table_row_tag do %>
    <td><%=h authority.name %></td>
    <td><%= link_to 'Show', authority %></td>
    <td><%= link_to 'Edit', edit_authority_path(authority) %></td>
    <td><%= link_to 'Destroy', authority, :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>

