<h2>Editing authority</h2>

<%= simple_form_for @authority do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @authority %> |
<%= link_to 'Back', authorities_path %>
</p>

