<h2>Listing authorities</h2>

<table>
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'authority', :collection => @authorities %>
  </tbody>
</table>

<hr />

<p>
<%= link_to 'New authority', new_authority_path %>
</p>

