<%=content_tag :h1, "New meeting for #{meeting.committee}" %>

<%= simple_form_for( meeting, url: committee_meetings_path(meeting.committee),
  html: { multipart: true } ) do |f| %>
  <%= render partial: 'meetings/form', object: f %>
<% end %>

<p>
<%= link_to 'Back', committee_meetings_path(meeting.committee) %>
</p>

